# Optional eslint cache
.eslintcache
.env
.next
*~
*.[oa]
.DS_Store
*/.DS_Store
*.pyc
.grunt
.module-cache
*.log*
*.err
*.zip
*.pid
*.diff
*.orig
*.vi
*.sublime-project
*.sublime-workspace
*.iml
*.swp
*.swo
*.suo
*.ntvs*
*.njsproj
*.sln
*.local
.history
.cache
.npm
.idea
.vscode
node_modules/
remote-repo/
coverage/
build/
logs/
dist/
package-lock.json
